
@media (hover: hover) and (pointer: fine) {
    /* Hide default cursor */
    /* Apply only on devices with mouse */
    body {
    cursor: none;
    }
    .cursor {
    position: fixed;
    height: 12px;
    width: 12px;
    background: #39FF14;
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: 1001;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease, width 0.2s, height 0.2s;
    mix-blend-mode: difference;
    opacity: 0;
    }
    .cursor-visible{
        opacity: 1;
    }
    /* When hovering links */
    .cursor-grow {
    width: 45px;
    height: 45px;
    border-color: rgb(182, 140, 140);
    background: transparent;
    border: 1px solid #39FF14;
    box-shadow: -3px 2px 2px 4px rgb(255, 255, 255);
    }
}